In [1]:
import os
import json
import re
import string
import pandas as pd
import nltk
from nltk import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [2]:
def text_process(text):
    #number removal
    body = re.sub(r'\d+', '', text)
    
    #punctuation removal i.e. [!”#$%&’()*+,-./:;<=>?@[\]^_`{|}~]
    punc = string.punctuation
    punc = re.sub("-","", punc)
    body = body.translate(body.maketrans(punc, "                               "))
    
    #stopwort removal
    stopset = set(stopwords.words('english'))
    text = word_tokenize(body.lower())
    text = [x for x in text if x not in stopset]
    
    #lemmatization
    lemmatizer = WordNetLemmatizer()
    lemma_text = [lemmatizer.lemmatize(x) for x in text]
    
    return lemma_text

In [3]:
path = 'Data/'

In [4]:
datapaths = os.listdir(path)

In [5]:
with open(path + datapaths[0], 'r') as f:
    data = json.load(f)

df = pd.DataFrame.from_dict(data)

In [6]:
df

,title,author,time,description,body,section
0,A snapshot of multiculturalism in South Korea,Lee Sun-young,2018-01-01 17:07:00,With birthrates persistently low and the senio...,With birthrates persistently low and the senio...,Social affairs
1,[Weekender] Korea’s dynamic 2017,Choi He-suk,2018-01-01 13:22:00,From North Korea’s nuclear weapons program nea...,From North Korea’s nuclear weapons program nea...,Social affairs
2,People's Party members support Ahn's push for ...,Yonhap,2017-12-31 16:18:00,The leader of the center-left People's Party g...,The leader of the center-left People's Party g...,Politics
3,[Newsmaker] Panamanian vessel probed over susp...,Yonhap,2017-12-31 14:55:00,PYEONGTAEK -- South Korea has seized and insp...,PYEONGTAEK -- South Korea has seized and insp...,North Korea
4,Hong Kong ship crew questioned in S. Korea for...,AFP,2017-12-30 15:44:00,The crew of a Hong Kong-registered ship have b...,The crew of a Hong Kong-registered ship have b...,North Korea
...,...,...,...,...,...,...
2995,Eyes on validity of Samsung merger,Bak Se-hwan,2017-08-27 16:38:00,Following the conviction of Samsung Group heir...,Following the conviction of Samsung Group heir...,Social affairs
2996,Number of visitors to overpass-turned-park top...,Yonhap,2017-08-27 16:14:00,The number of visitors to the overpass-turned-...,The number of visitors to the overpass-turned-...,Social affairs
2997,N. Korean propaganda leaflets on ‘missile succ...,Kim Min-joo,2017-08-27 16:01:00,"Propaganda leaflets, presumably distributed by...","Propaganda leaflets, presumably distributed by...",North Korea
2998,Row over smoking indoors ends in attempted murder,Kim Min-joo,2017-08-27 15:58:00,A 51-year-old man has been sentenced to three ...,A 51-year-old man has been sentenced to three ...,Social affairs
2999,[Newsmaker] Ahn elected new People's Party leader,Yonhap,2017-08-27 15:47:00,"Ahn Cheol-soo, the former presidential candida...","Ahn Cheol-soo, the former presidential candida...",Politics

In [7]:
df.keys()

Index(['title', ' author', ' time', ' description', ' body', ' section'], dtype='object')

In [8]:
df[' section'].unique()

array(['Social affairs', 'Politics', 'North Korea', 'Defense',
       'Foreign Policy', 'Education', 'National', 'International',
       'Diplomatic Circuit', 'Foreign  Affairs', 'Science', '',
       '사용안함 - Diplomatic Circuit'], dtype=object)

In [9]:
body = df.iloc[2][' body']

In [10]:
body

'The leader of the center-left People\'s Party garnered overwhelming support from its members for his push for a merger with a minor conservative party, the party announced Sunday.The election committee of the party said 74.6 percent of members who participated in last week\'s internal vote supported Ahn Cheol-soo and his proposal to unite the country\'s third-largest party with the center-right Bareun Party.\xa0The poll was conducted from Wednesday to Saturday via phone and online. Turnout was 23 percent, with 59,911 out of a total 260,437 members taking part in the vote. The panel said 25.4 percent opposed Ahn.\xa0 Ahn Cheol-soo at a press conference Sunday following the People\'s Party vote results (Yonhap)Ahn on Dec. 20 proposed the vote on the merger aimed at beefing up the centrist forces ahead of local elections slated for next June. Ahn had pledged to resign if he lost the vote.\xa0After the announcement, the former presidential candidate vowed to push for the merger swiftly.\xa0"I received overwhelming support from the members of the People\'s Party," Ahn said in a news conference.\xa0"I will accept the party members\' will expressed in the vote as their aspiration for change. I will look no other way and will move forward on the path of integration," he said.Ahn\'s rivals in the party called the vote invalid, citing low turnout. They said Ahn failed to win the vote and should step down as he promised."This is a clear indication of a vote of nonconfidence for Ahn," a group of 18 lawmakers said in a press conference. They launched their own group to oust Ahn and block what they called a conservative collusion.\xa0The dissenters are largely based in the southwestern region, which has been traditionally opposed to rightist politicians. A merger with the conservative Bareun Party would dent their prospects in future elections, including the June gubernatorial and mayoral elections.\xa0\xa0The lower turnout is far below the quorum of a third of members required by the party constitution to determine crucial issues, such as a merger with other parties.\xa0The poll led by Ahn\'s faction was not directly about the merger plan but questioned whether or not the respondents support Ahn who pushes for the merger.Ahn\'s side pointed out that the voter ratio was close to the 24.26 percent turnout of the last party election in August, in which Ahn was picked chairman.\xa0\xa0\xa0\xa0\xa0Earlier in the day, a man barged into the party\'s headquarters and attacked Rep. Lee Dong-seop, chief of the election committee, when he was announcing the vote result. The man kicked the podium with his leg and got into a tussle with party officials. He was taken into police custody later.\xa0\xa0The integration of the two parties has been seen as a strategy to combine the centrist political force to counterbalance the two major parties -- the ruling Democratic Party with 121 seats and the main opposition Liberty Korea Party with 116 seats in the 299-member National Assembly.The People\'s Party holds 39 seats, while the Bareun Party has11 lawmakers. (Yonhap)'

In [11]:
body = re.sub(r'\d+', '', body)

In [12]:
body

'The leader of the center-left People\'s Party garnered overwhelming support from its members for his push for a merger with a minor conservative party, the party announced Sunday.The election committee of the party said . percent of members who participated in last week\'s internal vote supported Ahn Cheol-soo and his proposal to unite the country\'s third-largest party with the center-right Bareun Party.\xa0The poll was conducted from Wednesday to Saturday via phone and online. Turnout was  percent, with , out of a total , members taking part in the vote. The panel said . percent opposed Ahn.\xa0 Ahn Cheol-soo at a press conference Sunday following the People\'s Party vote results (Yonhap)Ahn on Dec.  proposed the vote on the merger aimed at beefing up the centrist forces ahead of local elections slated for next June. Ahn had pledged to resign if he lost the vote.\xa0After the announcement, the former presidential candidate vowed to push for the merger swiftly.\xa0"I received overwhelming support from the members of the People\'s Party," Ahn said in a news conference.\xa0"I will accept the party members\' will expressed in the vote as their aspiration for change. I will look no other way and will move forward on the path of integration," he said.Ahn\'s rivals in the party called the vote invalid, citing low turnout. They said Ahn failed to win the vote and should step down as he promised."This is a clear indication of a vote of nonconfidence for Ahn," a group of  lawmakers said in a press conference. They launched their own group to oust Ahn and block what they called a conservative collusion.\xa0The dissenters are largely based in the southwestern region, which has been traditionally opposed to rightist politicians. A merger with the conservative Bareun Party would dent their prospects in future elections, including the June gubernatorial and mayoral elections.\xa0\xa0The lower turnout is far below the quorum of a third of members required by the party constitution to determine crucial issues, such as a merger with other parties.\xa0The poll led by Ahn\'s faction was not directly about the merger plan but questioned whether or not the respondents support Ahn who pushes for the merger.Ahn\'s side pointed out that the voter ratio was close to the . percent turnout of the last party election in August, in which Ahn was picked chairman.\xa0\xa0\xa0\xa0\xa0Earlier in the day, a man barged into the party\'s headquarters and attacked Rep. Lee Dong-seop, chief of the election committee, when he was announcing the vote result. The man kicked the podium with his leg and got into a tussle with party officials. He was taken into police custody later.\xa0\xa0The integration of the two parties has been seen as a strategy to combine the centrist political force to counterbalance the two major parties -- the ruling Democratic Party with  seats and the main opposition Liberty Korea Party with  seats in the -member National Assembly.The People\'s Party holds  seats, while the Bareun Party has lawmakers. (Yonhap)'

In [13]:
bodyd = body.translate(body.maketrans(string.punctuation, "                                "))

In [14]:
punc = string.punctuation
punc.replace('-', '')
bodyc = body.translate(body.maketrans(punc, "                                "))

In [15]:
len(punc)

32

In [16]:
bodyc

'The leader of the center left People s Party garnered overwhelming support from its members for his push for a merger with a minor conservative party  the party announced Sunday The election committee of the party said   percent of members who participated in last week s internal vote supported Ahn Cheol soo and his proposal to unite the country s third largest party with the center right Bareun Party \xa0The poll was conducted from Wednesday to Saturday via phone and online  Turnout was  percent  with   out of a total   members taking part in the vote  The panel said   percent opposed Ahn \xa0 Ahn Cheol soo at a press conference Sunday following the People s Party vote results  Yonhap Ahn on Dec   proposed the vote on the merger aimed at beefing up the centrist forces ahead of local elections slated for next June  Ahn had pledged to resign if he lost the vote \xa0After the announcement  the former presidential candidate vowed to push for the merger swiftly \xa0 I received overwhelming support from the members of the People s Party   Ahn said in a news conference \xa0 I will accept the party members  will expressed in the vote as their aspiration for change  I will look no other way and will move forward on the path of integration   he said Ahn s rivals in the party called the vote invalid  citing low turnout  They said Ahn failed to win the vote and should step down as he promised  This is a clear indication of a vote of nonconfidence for Ahn   a group of  lawmakers said in a press conference  They launched their own group to oust Ahn and block what they called a conservative collusion \xa0The dissenters are largely based in the southwestern region  which has been traditionally opposed to rightist politicians  A merger with the conservative Bareun Party would dent their prospects in future elections  including the June gubernatorial and mayoral elections \xa0\xa0The lower turnout is far below the quorum of a third of members required by the party constitution to determine crucial issues  such as a merger with other parties \xa0The poll led by Ahn s faction was not directly about the merger plan but questioned whether or not the respondents support Ahn who pushes for the merger Ahn s side pointed out that the voter ratio was close to the   percent turnout of the last party election in August  in which Ahn was picked chairman \xa0\xa0\xa0\xa0\xa0Earlier in the day  a man barged into the party s headquarters and attacked Rep  Lee Dong seop  chief of the election committee  when he was announcing the vote result  The man kicked the podium with his leg and got into a tussle with party officials  He was taken into police custody later \xa0\xa0The integration of the two parties has been seen as a strategy to combine the centrist political force to counterbalance the two major parties    the ruling Democratic Party with  seats and the main opposition Liberty Korea Party with  seats in the  member National Assembly The People s Party holds  seats  while the Bareun Party has lawmakers   Yonhap '

In [17]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [18]:
a = set(stopwords.words('english'))

In [19]:
text = word_tokenize(bodyd.lower())
text = [x for x in text if x not in a]

In [20]:
print(text)

['leader', 'center', 'left', 'people', 'party', 'garnered', 'overwhelming', 'support', 'members', 'push', 'merger', 'minor', 'conservative', 'party', 'party', 'announced', 'sunday', 'election', 'committee', 'party', 'said', 'percent', 'members', 'participated', 'last', 'week', 'internal', 'vote', 'supported', 'ahn', 'cheol', 'soo', 'proposal', 'unite', 'country', 'third', 'largest', 'party', 'center', 'right', 'bareun', 'party', 'poll', 'conducted', 'wednesday', 'saturday', 'via', 'phone', 'online', 'turnout', 'percent', 'total', 'members', 'taking', 'part', 'vote', 'panel', 'said', 'percent', 'opposed', 'ahn', 'ahn', 'cheol', 'soo', 'press', 'conference', 'sunday', 'following', 'people', 'party', 'vote', 'results', 'yonhap', 'ahn', 'dec', 'proposed', 'vote', 'merger', 'aimed', 'beefing', 'centrist', 'forces', 'ahead', 'local', 'elections', 'slated', 'next', 'june', 'ahn', 'pledged', 'resign', 'lost', 'vote', 'announcement', 'former', 'presidential', 'candidate', 'vowed', 'push', 'merger', 'swiftly', 'received', 'overwhelming', 'support', 'members', 'people', 'party', 'ahn', 'said', 'news', 'conference', 'accept', 'party', 'members', 'expressed', 'vote', 'aspiration', 'change', 'look', 'way', 'move', 'forward', 'path', 'integration', 'said', 'ahn', 'rivals', 'party', 'called', 'vote', 'invalid', 'citing', 'low', 'turnout', 'said', 'ahn', 'failed', 'win', 'vote', 'step', 'promised', 'clear', 'indication', 'vote', 'nonconfidence', 'ahn', 'group', 'lawmakers', 'said', 'press', 'conference', 'launched', 'group', 'oust', 'ahn', 'block', 'called', 'conservative', 'collusion', 'dissenters', 'largely', 'based', 'southwestern', 'region', 'traditionally', 'opposed', 'rightist', 'politicians', 'merger', 'conservative', 'bareun', 'party', 'would', 'dent', 'prospects', 'future', 'elections', 'including', 'june', 'gubernatorial', 'mayoral', 'elections', 'lower', 'turnout', 'far', 'quorum', 'third', 'members', 'required', 'party', 'constitution', 'determine', 'crucial', 'issues', 'merger', 'parties', 'poll', 'led', 'ahn', 'faction', 'directly', 'merger', 'plan', 'questioned', 'whether', 'respondents', 'support', 'ahn', 'pushes', 'merger', 'ahn', 'side', 'pointed', 'voter', 'ratio', 'close', 'percent', 'turnout', 'last', 'party', 'election', 'august', 'ahn', 'picked', 'chairman', 'earlier', 'day', 'man', 'barged', 'party', 'headquarters', 'attacked', 'rep', 'lee', 'dong', 'seop', 'chief', 'election', 'committee', 'announcing', 'vote', 'result', 'man', 'kicked', 'podium', 'leg', 'got', 'tussle', 'party', 'officials', 'taken', 'police', 'custody', 'later', 'integration', 'two', 'parties', 'seen', 'strategy', 'combine', 'centrist', 'political', 'force', 'counterbalance', 'two', 'major', 'parties', 'ruling', 'democratic', 'party', 'seats', 'main', 'opposition', 'liberty', 'korea', 'party', 'seats', 'member', 'national', 'assembly', 'people', 'party', 'holds', 'seats', 'bareun', 'party', 'lawmakers', 'yonhap']

In [21]:
lemmatizer = WordNetLemmatizer()

In [22]:
lemma_text = [lemmatizer.lemmatize(x) for x in text]

In [23]:
print(lemma_text)

['leader', 'center', 'left', 'people', 'party', 'garnered', 'overwhelming', 'support', 'member', 'push', 'merger', 'minor', 'conservative', 'party', 'party', 'announced', 'sunday', 'election', 'committee', 'party', 'said', 'percent', 'member', 'participated', 'last', 'week', 'internal', 'vote', 'supported', 'ahn', 'cheol', 'soo', 'proposal', 'unite', 'country', 'third', 'largest', 'party', 'center', 'right', 'bareun', 'party', 'poll', 'conducted', 'wednesday', 'saturday', 'via', 'phone', 'online', 'turnout', 'percent', 'total', 'member', 'taking', 'part', 'vote', 'panel', 'said', 'percent', 'opposed', 'ahn', 'ahn', 'cheol', 'soo', 'press', 'conference', 'sunday', 'following', 'people', 'party', 'vote', 'result', 'yonhap', 'ahn', 'dec', 'proposed', 'vote', 'merger', 'aimed', 'beefing', 'centrist', 'force', 'ahead', 'local', 'election', 'slated', 'next', 'june', 'ahn', 'pledged', 'resign', 'lost', 'vote', 'announcement', 'former', 'presidential', 'candidate', 'vowed', 'push', 'merger', 'swiftly', 'received', 'overwhelming', 'support', 'member', 'people', 'party', 'ahn', 'said', 'news', 'conference', 'accept', 'party', 'member', 'expressed', 'vote', 'aspiration', 'change', 'look', 'way', 'move', 'forward', 'path', 'integration', 'said', 'ahn', 'rival', 'party', 'called', 'vote', 'invalid', 'citing', 'low', 'turnout', 'said', 'ahn', 'failed', 'win', 'vote', 'step', 'promised', 'clear', 'indication', 'vote', 'nonconfidence', 'ahn', 'group', 'lawmaker', 'said', 'press', 'conference', 'launched', 'group', 'oust', 'ahn', 'block', 'called', 'conservative', 'collusion', 'dissenter', 'largely', 'based', 'southwestern', 'region', 'traditionally', 'opposed', 'rightist', 'politician', 'merger', 'conservative', 'bareun', 'party', 'would', 'dent', 'prospect', 'future', 'election', 'including', 'june', 'gubernatorial', 'mayoral', 'election', 'lower', 'turnout', 'far', 'quorum', 'third', 'member', 'required', 'party', 'constitution', 'determine', 'crucial', 'issue', 'merger', 'party', 'poll', 'led', 'ahn', 'faction', 'directly', 'merger', 'plan', 'questioned', 'whether', 'respondent', 'support', 'ahn', 'push', 'merger', 'ahn', 'side', 'pointed', 'voter', 'ratio', 'close', 'percent', 'turnout', 'last', 'party', 'election', 'august', 'ahn', 'picked', 'chairman', 'earlier', 'day', 'man', 'barged', 'party', 'headquarters', 'attacked', 'rep', 'lee', 'dong', 'seop', 'chief', 'election', 'committee', 'announcing', 'vote', 'result', 'man', 'kicked', 'podium', 'leg', 'got', 'tussle', 'party', 'official', 'taken', 'police', 'custody', 'later', 'integration', 'two', 'party', 'seen', 'strategy', 'combine', 'centrist', 'political', 'force', 'counterbalance', 'two', 'major', 'party', 'ruling', 'democratic', 'party', 'seat', 'main', 'opposition', 'liberty', 'korea', 'party', 'seat', 'member', 'national', 'assembly', 'people', 'party', 'hold', 'seat', 'bareun', 'party', 'lawmaker', 'yonhap']

In [24]:
df.iloc[2][' description']

"The leader of the center-left People's Party garnered overwhelming support from its members for his push for a merger with a minor conservative party, the party announced Sunday.The election committee of the party said 74.6 percent of members who participated in last week's internal vote supported Ahn Cheol-soo and his proposal to unite the country's third-largest party with the center-right Bareun Party.\xa0The poll w..."

In [25]:
vectorizer1 = CountVectorizer()
vectorizer2 = TfidfVectorizer()

In [26]:
corpus = df[' body']

In [32]:
tf = vectorizer1.fit_transform(corpus)
tf_idf = vectorizer2.fit_transform(corpus)

In [33]:
tf = tf.toarray()
tf_idf = tf_idf.toarray()

In [34]:
features = vectorizer1.get_feature_names()

In [35]:
tf_dataFrame = pd.DataFrame(tf, columns=features)
tf_idf_dataFrane = pd.DataFrame(tf_idf, columns=features)

In [36]:
tf_dataFrame

,00,000,0000,000km,000lbs,001,002,003,004,005,...,zoroastrians,zubin,zuckerberg,가능합니다,관리예산처,미국무부,사진,생략,여기부터,연합뉴스
0,0,4,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2996,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2997,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
a = tf_dataFrame.sum()

In [38]:
b= pd.DataFrame(a)

In [39]:
b.sort_values([0], ascending=[False]).head(60)

                0
the         76432
to          32411
of          29024
and         24879
in          23155
korea       11796
on          11640
north       10556
that        10334
for         10075
said         9519
is           7829
with         7722
as           6742
it           6340
south        6310
by           5904
korean       5872
at           5851
from         5342
us           4945
was          4927
its          4918
will         4754
he           4699
has          4653
yonhap       4468
an           4244
be           4207
nuclear      3917
his          3882
have         3622
seoul        3618
president    3585
also         3367
are          3362
moon         2845
not          2747
their        2681
missile      2651
party        2621
government   2619
kim          2589
two          2513
year         2443
but          2397
they         2362
we           2323
been         2311
this         2308
over         2289
after        2185
which        2178
ministry     2120
military     2035
trump        1987
park         1904
were         1896
who          1868
during       1768

In [40]:
b

          0
00        7
000     950
0000      1
000km     1
000lbs    1
...     ...
미국무부      1
사진        1
생략        1
여기부터      1
연합뉴스      1

[23822 rows x 1 columns]

In [41]:
processed = text_process(body)

In [42]:
' '.join(processed)

'leader center-left people party garnered overwhelming support member push merger minor conservative party party announced sunday election committee party said percent member participated last week internal vote supported ahn cheol-soo proposal unite country third-largest party center-right bareun party poll conducted wednesday saturday via phone online turnout percent total member taking part vote panel said percent opposed ahn ahn cheol-soo press conference sunday following people party vote result yonhap ahn dec proposed vote merger aimed beefing centrist force ahead local election slated next june ahn pledged resign lost vote announcement former presidential candidate vowed push merger swiftly received overwhelming support member people party ahn said news conference accept party member expressed vote aspiration change look way move forward path integration said ahn rival party called vote invalid citing low turnout said ahn failed win vote step promised clear indication vote nonconfidence ahn group lawmaker said press conference launched group oust ahn block called conservative collusion dissenter largely based southwestern region traditionally opposed rightist politician merger conservative bareun party would dent prospect future election including june gubernatorial mayoral election lower turnout far quorum third member required party constitution determine crucial issue merger party poll led ahn faction directly merger plan questioned whether respondent support ahn push merger ahn side pointed voter ratio close percent turnout last party election august ahn picked chairman earlier day man barged party headquarters attacked rep lee dong-seop chief election committee announcing vote result man kicked podium leg got tussle party official taken police custody later integration two party seen strategy combine centrist political force counterbalance two major party -- ruling democratic party seat main opposition liberty korea party seat -member national assembly people party hold seat bareun party lawmaker yonhap'

In [43]:
string.punctuation[12]

'-'

In [44]:
p = string.punctuation

In [45]:
p

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [46]:
len(p)

32

In [47]:
len(re.sub("-","", p))

31

In [27]:
df2 = pd.DataFrame(df[' body'].apply(lambda x: ' '.join(text_process(x))))

In [29]:
df2[' body'][1]

'north korea ’ nuclear weapon program nearing completion unprecedented impeachment president major earthquake year drawing close difficult one south korea corruption scandal broke led country ’ first impeachment president president park geun-hye ’ ouster march turn led closest ally arrested put trial host charge wake park ’ fall grace conservative split faction liberal president moon jae-in may presidential election moon ’ election sparked series event hinted sweeping change even limited time korean society yonhap moon quickly launched war “ accumulated ill ” new administration refers unfair practice condition society reform drive raised allegation wrongdoing going back lee myung-bak administration came office economic front moon ’ reform drive far resulted large minimum wage hike higher tax highest earning company individual fiercely resisted criticized conservative bloc eight month moon ’ presidency far also seen threat posed north korea rise new dimension sept north korea conducted sixth nuclear test claiming successfully developed hydrogen bomb north korea also conducted number intercontinental ballistic missile test starting may combination would imply pyongyang crossed “ red line ” moon drew north korea policy press conference marking th day office august moon stated north korea becoming capable building icbm tipped nuclear warhead would mean “ red line ” crossed year also saw south korea experience friction two largest trading partner -- china u trouble china began following park administration ’ decision deploy u terminal high altitude area defense anti-missile system decision deploy thaad prompted economic retaliation china dealing massive blow south korean company tourism industry although seoul-beijing relation thawed height tension two side yet narrow difference thaad beijing considers threat national security although much lesser scale seoul ’ trade relation u also hit rut korea-us free trade agreement u president donald trump termed “ horrible deal ” despite seoul ’ attempt avoid renegotiation trump administration pressed issue numerous occasion two side currently renegotiating deal year also saw major domestic issue unfold march ferry sewol raised seabed nearly three year sank country ’ west coast leaving people dead missing although vessel raised five passenger remain unaccounted magnitude earthquake shook port city pohang north gyeongsang province nov among many consequence quake led postponement annual university entrance exam first time history choi he-suk cheesuk heraldcorp com'

In [30]:
vectorizer1 = CountVectorizer()
vectorizer2 = TfidfVectorizer()

corpus = df2[' body']

tf = vectorizer1.fit_transform(corpus)
tf_idf = vectorizer2.fit_transform(corpus)

tf = tf.toarray()
tf_idf = tf_idf.toarray()

features = vectorizer1.get_feature_names()

tf_dataFrame = pd.DataFrame(tf, columns=features)
tf_idf_dataFrame = pd.DataFrame(tf_idf, columns=features)

tf_dataFrame = tf_dataFrame.sum()
tf_dataFrame = pd.DataFrame(tf_dataFrame)
tf_dataFrame = tf_dataFrame.sort_values([0], ascending=[False])

tf_idf_dataFrame = tf_idf_dataFrame.sum()
tf_idf_dataFrame = pd.DataFrame(tf_idf_dataFrame)
tf_idf_dataFrame = tf_idf_dataFrame.sort_values([0], ascending=[False])

In [31]:
tf_dataFrame.head(20)

                0
korea       11929
north       10563
said         9519
korean       6316
south        6311
yonhap       4469
nuclear      3917
president    3637
seoul        3619
also         3367
year         3264
missile      3142
party        3016
country      2848
moon         2846
government   2766
kim          2589
two          2513
state        2332
official     2309

In [32]:
tf_idf_dataFrame.head(20)

                     0
north       207.008265
korea       171.670365
said        126.993602
south       112.904488
korean      108.926694
nuclear      93.936904
party        84.883272
missile      79.691261
president    78.963778
moon         74.414715
yonhap       73.960467
seoul        67.858316
trump        66.214916
year         64.551719
kim          64.334384
ministry     63.311667
government   59.846715
country      59.085450
also         58.438056
military     56.056001